header {
    min-width: 200px;
    padding:50px;
    display:flex;
    justify-content:center;
    align-items: center;
}

.title {
    max-width: 45vw;
    color: rgb(134, 134, 134);
}

h1 {
    font-size: 8vw;
    color: darksalmon;
    width: 20vw;
}

figure {
    width:37%;
    height:100%;
    
}

.piggy {
    width:25vw;
}
