header {
    padding: 50px;
    width: auto;
    background-color: rgb(48, 48, 48);
    background-image:url("piggy-money-bank-5085515_1920.png");
    background-size: 45vw;
    background-repeat: no-repeat;
    background-position: right;
}

.title {
    min-width: 25vw;
    max-width: 35vw;
    text-align: left;
    color: rgb(134, 134, 134);
}

h1 {
    font-size: 65px;
    margin-top: 20vw;
    color: darksalmon;
    width: 20vw;
}
