@charset "UTF-8";

body {
    color: rgb(150, 155, 155);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(48, 48, 48);
}


header {
    padding: 50px;
    width: auto;
    background-color: rgb(48, 48, 48);
    background-image:url("piggy-money-bank-5085515_1920.png");
    background-size: 45vw;
    background-repeat: no-repeat;
    background-position: right;
}

.title {
    min-width: 25vw;
    max-width: 35vw;
    text-align: left;
    color: rgb(134, 134, 134);
}

h1 {
    font-size: 65px;
    margin-top: 20vw;
    color: darksalmon;
    width: 20vw;
}

h4 {
    font-size: 500;
    color: rgb(196, 196, 196);
}

ul, li{
    font-size: 300;
    list-style: none;
}

span {
    font-size: 13px;
    display: block;
    padding-bottom: 10px;
}


.lasttyped, 
form, 
.overview, 
.InkomstLista, 
.KostnadLista {
    border: darkgrey solid 2px;
    border-radius: 5px;
    padding: 25px;
    margin-top: 10px;
    margin-bottom: 15px;

}

form {
    border-radius: 55px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}

.overview {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    text-align: left;
}

.inkomst, .kostnad, .vinst {
    width: 20vw;
    min-height: 7vw;
}

.InkomstLista, .KostnadLista {
    min-height: 40vw;
    width: 20vw;
}


.lasttyped {
    width: 20vw;
}

footer {
    color: rgb(163, 163, 163);
    margin-top: 7vw;
    text-align: center;
}