body {
  color: #9b9b9b;
  font-family: 'Roboto', sans-serif;
  background-color: #303030;
  padding: 10vw; }

ul {
  list-style: none;
  list-style-type: outside;
  margin: 0;
  padding: 0; }

b {
  color: #997777; }

span {
  font-size: 2vw;
  display: block;
  padding-bottom: 10px;
  color: #7a7a7a; }

.InkomstLista,
.KostnadLista,
.lasttyped {
  border: #686868 solid 5px;
  border-radius: 10px;
  padding: 25px;
  margin: 10px; }

@media screen and (max-width: 920px) {
  header {
    flex-flow: column-reverse wrap;
    width: auto; }
  .title {
    width: auto; }
  form {
    flex-direction: column; }
  #selectOption {
    margin-left: 0.625rem; } }

@media screen and (max-width: 550px) {
  h1 {
    font-size: 16px; }
  form {
    justify-content: center;
    align-content: center;
    flex-direction: column; }
  #selectOption {
    margin-left: 0.625rem; }
  #selectOption, .add {
    width: 10rem; }
  h4 {
    font-size: 16px; }
  #description,
  #value {
    font-size: 12px;
    width: 9.5rem; } }

header {
  min-width: 200px;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center; }

.title {
  max-width: 45vw;
  color: #868686; }

h1 {
  font-size: 8vw;
  color: darksalmon;
  width: 20vw; }

figure {
  width: 37%;
  height: 100%; }

.piggy {
  width: 25vw; }

form {
  border: #9c6b6b solid 5px;
  border-radius: 85px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 30px;
  margin: 20px;
  width: auto;
  overflow: auto; }

input {
  font-size: 25px;
  color: #333333;
  text-align: center;
  margin-left: 10px;
  width: auto; }

.add {
  font-size: 20px;
  margin-left: 10px;
  padding-left: 25px;
  padding-right: 25px; }

/* Chrome/Opera/Safari */
input::-webkit-input-placeholder {
  color: #c7c7c7; }

/* Firefox 19+ */
input ::-moz-placeholder {
  color: #c7c7c7; }

/* Firefox 18- */
input:-moz-placeholder {
  color: #c7c7c7; }

/* IE 10+ */
input:-ms-input-placeholder {
  color: #c7c7c7; }

.overview {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

h3.left {
  color: lightgrey; }

.InkomstLista, .KostnadLista, .lasttyped {
  text-align: center;
  min-height: 20vw;
  max-width: 30vw; }

footer {
  color: #a3a3a3;
  text-align: center;
  min-width: 150px; }

hr {
  margin-top: 100px; }

.footer-text {
  font-size: 1.4vw; }
